@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Libre+Baskerville&family=Playfair+Display&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "EB Garamond", serif;
    color: #013328;
    min-height: 100vh;

}

/*HEADER*/
header {
    background-color: #eed9c4;
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

h1 {
    color: #013328;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 290%;
    margin-left: 20px;
}

h2 {
    color: #013328;
    font-family: "Playfair Display", serif;
}

#logo {
    float: left;
    margin-left: auto;
    padding-left: 20px;
}

#slogan {
position: absolute;
bottom: 300px;
left: 5%;
font-size: 30px;
color: whitesmoke;
padding: 20px;
background-color: rgba(0, 40, 2, .40);
}

/*NAVIGATION BAR*/
.hamburger, .xmark  {
    display: none;
}


.menu {
    font-size: 120%;
    letter-spacing: 1px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.menu,
#logo {
    line-height: 70px;
}

.nav {
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    list-style-type: none;
}

li a {
    float: right;
    margin-right: 20px;
    list-style-type: none;
    font-family: "Playfair Display", serif;
    color: #013328;
    text-decoration: none;
    align-items: center;
    padding: 5px 10%;
}

 li {
    display: inline-block;
    padding: 0 10px;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    letter-spacing: 1px;
    font-size: large;
}

li a {
    color: inherit;
    list-style-type: none;
    font-size: 150%;
}

li a:hover,
li a:focus {
    font-size: x-large;
}

.active1 .active2 .active3 {
    padding: 10px 20px 10px 20px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

/*MAIN CONTENT*/
main {
    background-color: #fcfcf6;
}

/*HERO IMAGE*/

#hero-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 700px;
    width: 100%;
    margin: auto;
    background-image: url("../images/livingbeautyroom.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /*Zoom effect*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}


/*HOMEPAGE TEXT*/

#design-message {
    color: #013328;
    font-family: "EB Garamond", serif;
    text-align: center;
    width: 80%;
    font-size: 100%;
    text-align: center;
    position: relative;
    left: 10%;
    padding: 40px;

}

/*VIDEO*/

#video1-video2 {

size: 50%;

}


/*FOOTER*/
footer {
    background-color: #eed9c4;
    height: 160px;
    overflow: hidden;
    padding: 50px 15%;
}

.social-networks {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social-networks>li {
    display: inline;
}

.social-networks i li {
    font-size: 30px;
    color: #013328;
    margin-top: 50px;
    padding: 5%;
}
.copyright {
font-size: 12px;
position: absolute;
right: 20px;
}

/*CONTACT PAGE*/

#legend fieldset {
    font-size: xx-large;
    color: #013328;
    font-family: "Playfair Display", serif;
    border-color: #013328;
}

fieldset {
    display: inline-block;
    width: 50%;
    margin: 5% 25%;
    padding: 1em;
    background-color: rgba(254, 255, 255, 0.6);
}

#backgroundform {
    background-image: url("../images/reception1.jpeg");
    height: 900px;
    width: 100%;
    margin: auto;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.first-name,
.email {
    width: 42%;
    height: 25px;
    margin: 10px 20px;
    color: #013328;
    background: transparent;
    border: 2px solid #013328;
    display: block;
    float: left;

}

.surname,
.mobile-number {
    width: 42%;
    height: 25px;
    margin: 10px 20px;
    color: #013328;
    background: transparent;
    border: 2px solid #013328;
    display: block;
    float: right;
}

.natureofenquiry,
.yourenquiry {
    width: 94%;
    height: 25px;
    margin: 20px 20px;
    color: #013328;
    background: transparent;
    border: 2px solid #013328;
    font-family: "EB Garamond", serif;
}

.yourenquiry {
    height: 90px;
}

input::placeholder {
    color: #013328;
    background: transparent;
    font-family: "EB Garamond", serif;
}

textarea::placeholder {
    color: #013328;
    font-family: "EB Garamond", serif;
}

#button1 {
    border: 2px solid #013328;
    background-color: #013328;
    color: #eed9c4;
    margin: 20px;
    font-family: "EB Garamond", serif;
    width: 100px;
    border-radius: 10px;
}

#button1:hover,
#button1:focus,
#button1:active {
    background-color: #eed9c4;
    color: #013328;
    transition: 0.7s;
}

#contactdetails {
    text-align: center;
    background-color: rgba(254, 255, 255, 0.6);
}

#contactmap {
width: 100%;
height:300px; 
border:0;
}

/*SERVICES PAGE*/

.container1 {
    display: flex;
    flex-direction: column;
}

.section1,
.section2,
.section3 {
    /*display: flex;
    justify-content: space-between center;
    flex-direction: row;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.design {
    flex: 1;
}

.design img {
    padding: 10px;
    height: 600px;
    width: 400px;
}

.servicetext {
    color: #013328;
    font-family: "EB Garamond", serif;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    padding: 5%;
}

/*PROJECTS*/
.containimages {
    margin: 20px;
    clear: both;
    gap: 20px;
    column-count: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery {
    position: relative;
    width: 400px;
    height: 600px;
    border: solid #013328 1px;
      }

/*overlay text for images */

  .image {
    display: block;
    width: 100%;
    height: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(254, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .gallery:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: #013328;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

/* LAPTOP VIEW - 1200 px*/

@media only screen and (max-width: 1200px) and (min-width:1050px) {
    .section1 .section2 .section3 {
        flex-direction: column;
    }

    .design img {
        flex-direction: column;
        height: 550px;
        width: 350px;
    }
    #slogan {
        position: absolute;
        bottom: 40px;
        left: 5%;
    }
    .servicetext {
        font-size: 19px
    }

    .container-nav {
        flex-direction: column;
    }
}

/* SCREEN REDUCED - 1050 - 768 px*/
@media only screen and (max-width: 1050px) and (min-width: 768px) {
    .section1 .section2 .section3 {
        flex-direction: column;
    }

    .design img {
        height: 350px;
        width: 250px;
        margin-top: 100px;
    }

    .servicetext {
        font-size: 16px
    }

    header {
        flex-direction: column;
    }

    #slogan {
        position: absolute;
        bottom: 10px;
        left: 20px;
    }

    #design-message {
        top: 60%;
    }
    fieldset {
        margin-left: 20%;
        width: 60%;
        margin-top: 5%;
    }

    .first-name,
    .email {
        width: 42%;
        height: 25px;
        margin: 10px 20px;
        color: #013328;
        background: transparent;
        border: 2px solid #013328;
        display: block;
        float: left;
    
    }
    
    .surname,
    .mobile-number {
        width: 42%;
        height: 25px;
        margin: 10px 20px;
        color: #013328;
        background: transparent;
        border: 2px solid #013328;
        display: block;
        float: right;
    }
}

/* TABLET VIEW - 768 px*/
@media only screen and (max-width: 768px) and (min-width: 430px) {

    .section1,
    .section2,
    .section3 {
        flex-direction: column;
    }

    .design img {
        height: 350px;
        width: 250px;
        margin-top: 100px;
    }

    .servicetext {
        font-size: 16px
    }

    .design:last-child {
        display: none;
    }

    header {
        flex-direction: column;
    }

    #logo {
        position: absolute;
        left: 10px;
        top: 50px;
        }

    fieldset {
        margin-left: 10%;
        width: 80%;
        margin-top: 5%;
        margin-right: 0;
    }

    .first-name,
    .email,
    .surname,
    .mobile-number {
        width: 40%;
        display: block;
        float: none;
        justify-content: center;
        margin: 20px;
    }

        /*NAVBAR*/
        .hamburger {
            display: flex;
            border: none;
            position: absolute;
            top: 70px;
            left: 650px;
            font-size: 30px;
            color: #013328;  
            text-decoration: none; 
          }
                
          .xmark {
            z-index: 900;
            display: flex;
            border: none;
            position: absolute;
            top: 70px;
            left: 300px;
            font-size: 30px;
            background: #013328;
            color: #eed9c4;
            text-decoration: none;

          }
          
          .navbar {
            position: absolute;
            /* a higher z-index put navbar above hamburger */
            z-index: 1000;
            top: 0;
            left: 50%;
            width: 50%;
            height: 100vh;
            overflow: hidden;
            /* basic menu styling*/
            list-style: none;
            background: #013328;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            align-items: center;
            /* animate slide up/down */
            transform: translateY(-100%);
            transition: transform 0.2s ease;
          }
          
          .navbar:target {
            /* show navbar */
            transform: translateY(0);
          }
          
          .active1, .active2, .active3 {
            display: block;
            font-family: "EB Garamond", serif;
            color: #eed9c4;
            font-weight: bold;
            font-size: 1.2rem;
            text-decoration: none;
            padding-bottom: 0.5rem;
          }
          
          .navbar a:hover, .navbar a:focus {
            border-bottom: 1px solid white;
          }

          #slogan {
          font-size: 20px;
          bottom: 190px;
          left: 10px;
          }

          #design-message {
           top: 40%;
           padding: 40px 40px;
          }
}

/*IPHONE 15 PRO MAX*/
@media only screen and (max-width: 430px) and (min-width: 390px) {

    header {
        padding: 20%;
        flex-direction: row;
    }
  
    .logo {
        float: left;
        margin: 5%;
    }

    #design-message {
    width: 80%;
    font-size: small;
    }

    #slogan {
    position: absolute;
    bottom: 120px;
    margin-right: 5%;
    font-size: large;
    padding: 10px;
    }

    /*NAVBAR*/  
    .hamburger {
        display: flex;
        border: none;
        position: absolute;
        top: 60px;
        left: 350px;
        font-size: 30px;
        color: #013328;  
        text-decoration: none; 
      }
            
      .xmark {
      display: flex;
      border: none;
        position: absolute;
        top: 60px;
        left: 150px;
        font-size: 30px;
        background: #013328; 
        color: #eed9c4;
        text-decoration: none;

      }
      
      .navbar {
        position: absolute;
        /* a higher z-index put navbar above hamburger */
        z-index: 1000;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100vh;
        overflow: hidden;
        /* basic menu styling*/
        list-style: none;
        background: #013328;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        /* animate slide up/down */
        transform: translateY(-100%);
        transition: transform 0.2s ease;
      }
      
      .navbar:target {
        /* show navbar */
        transform: translateY(0);
      }
      
      .active1, .active2, .active3 {
        display: block;
        font-family: "EB Garamond", serif;
        color: #eed9c4;
        font-weight: bold;
        font-size: 1.2rem;
        text-decoration: none;
        padding-bottom: 0.5rem;
      }
      
      .navbar a:hover, .navbar a:focus {
        border-bottom: 1px solid white;
      }

      /*Mobile contact form*/
      .mobile-number, .surname {
        display: none;
      }
      .first-name, .email, .natureofenquiry, .yourenquiry {
        width: 90%;
      }

      .email {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
      }
      .natureofenquiry {
        margin: 0 20px;
        margin-bottom: 20px;
      }
      .yourenquiry {
        margin-top: 0;
      }
 
}

/*MOBILE- 390 px*/

@media only screen and (max-width: 390px) {

/*Services page*/
   .section1,
   .section2,
   .section3 {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .design img {
        flex: none;
        height: 350px;
        width: 250px;
    }

    .servicetext {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 15px;
    }

    .design:last-child {
        display: none;
    }
/*homepage*/

    header {
        padding: 70px;
    }

    #logo {
        position: absolute;
        left: 10px;
        top: 55px;
        font-size: 35px;
        line-height: 40px;
    }

    /*contact*/
    fieldset {
        margin-left: 5%;
        margin-top: 10%;
        width: 90%;
    }

    .first-name,
    .email,
    .surname,
    .mobile-number {
        width: 50%;
        display: block;
        float: none;
        justify-content: center;
        margin: 20px;
    }

    .email {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
      }
      .natureofenquiry {
        margin: 0 20px;
        margin-bottom: 20px;
      }
      .yourenquiry {
        margin-top: 0;
      }

    #design-message {
        padding: 10px;
        font-size: 13px;
    }
    
    .copyright {
        font-size: small;
    }


  /*Mobile contact form*/
 .mobile-number, .surname {
            display: none;
          }
          .first-name, .email, .natureofenquiry, .yourenquiry {
            width: 90%;
          }
    
        /*navbar*/

          .hamburger {
            position: absolute;
            top: 60px;
            left: 320px;
            padding: 10px;
            color: #013328;
          }
          
          .xmark {
            position: absolute;
            top: 60px;
            left: 140px;
            background: #013328;
            color: #eed9c4;
          }
          
          .navbar {
            position: absolute;
            /* a higher z-index put navbar above hamburger */
            z-index: 1000;
            top: 0;
            left: 50%;
            width: 50%;
            height: 100vh;
            overflow: hidden;
            /* basic menu styling*/
            list-style: none;
            background: #013328;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            align-items: center;
            /* animate slide up/down */
            transform: translateY(-100%);
            transition: transform 0.2s ease;
          }
          
          
          .navbar:target {
            /* show navbar */
            transform: translateY(0);
          }
          
          .active1, .active2, .active3 {
            display: block;
            font-family: "EB Garamond", serif;
            color: #eed9c4;
            font-weight: bold;
            font-size: 1.2rem;
            text-decoration: none;
            padding-bottom: 0.5rem;
          }
          
          .navbar a:hover, .navbar a:focus {
            border-bottom: 1px solid white;
          }

          .copyright {
            font-size: small;
          }

          fieldset {
          margin-right: 0;
          }
/*MOBILE- 320 px*/

@media only screen and (max-width: 320px) and (min-width: 200px) {

    /*Projects page*/
    .gallery {
    width: 250px;
    height: 400px;
    }
     
   /*footer*/

.social-networks {
font-size: medium;
left: 10px;      
        }
/*Header*/

#logo {
    position: absolute;
    padding: 10px;
    line-height: 40px;
    font-size: 35px;
}

#slogan {
right: 5%;
font-size: 20px;
}
.hamburger {
    display: flex;
    position: absolute;
    top: 30px;
    left: 250px;
    font-size: 25px;
    padding: 10px;
    color: #013328;
    text-decoration: none;
  }
 .xmark {
    display: flex;
    position: absolute;
    top: 60px;
    left: 100px;
    font-size: 25px;
    background: #013328;
    color: #eed9c4;
    text-decoration: none;
  }

.design-message {
padding:10px;
font-size: 13px;
}

fieldset {
    margin-right: 0;
    }

        }

    }