@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Libre+Baskerville&family=Playfair+Display&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "EB Garamond", serif;
    color: #013328;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*HEADER*/
header {
    background-color: #eed9c4;
    font-family: "Playfair Display", serif;
    font-weight: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

h1 {
    color: #013328;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 290%;
    margin-left: 20px;
}

h2 {
    color: #013328;
    font-family: "Playfair Display", serif;
}

#logo {
    float: left;
    margin-left: auto;
    padding-left: 20px;
}

/*NAVIGATION BAR*/

#menu {
    font-size: 120%;
    letter-spacing: 1px;
    padding: 10px;
}

#menu,
#logo {
    line-height: 70px;
}

nav {
    order: 1;
}

li a {
    float: right;
    margin-right: auto;
    list-style-type: none;
    margin-right: 10px;
    font-family: "Playfair Display", serif;
    font-weight: 400px;
    color: #013328;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    padding: 5px 10%;
}

#menu li {
    display: inline-block;
    padding: 0 10px;
    align-items: center;
}

#menu a {
    color: inherit;
    list-style-type: none;
    font-size: 150%;
    text-decoration: none;
}

#menu a:hover {
    font-size: 150%;
}

.active1 .active2 .active3 {
    padding: 10px 20px 10px 20px;
}

/*MAIN CONTENT*/
main {
    background-color: #fcfcf6;
}

/*HERO IMAGE*/

#hero-image {
    height: 900px;
    width: 100%;
    margin: auto;
    background-image: url("../images/livingbeautyroom.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#hero-zoom {
    height: 900px;
    width: 100%;
    overflow: hidden;
    /*Zoom effect*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}


}

/*HOMEPAGE TEXT*/

#design-message {
    color: #013328;
    background-color: lightgrey;
    font-family: "EB Garamond", serif;
    width: 400px;
    position: absolute;
    top: 20px;
    left: 20px;

}

#design-message h2 {
    font-size: xx-large;
    text-align: center;
}

#design-message div {
    font-size: 150%;
    text-align: center;
}

/*FOOTER*/
footer {
    background-color: #eed9c4;
    height: 160px;
    position: absolute bottom;
    overflow: hidden;
    padding: 50px 15%;
}

.social-networks {
    text-align: center;
    position: relative;
}

.social-networks>li {
    display: inline;
}

.social-networks i li {
    font-size: 30px;
    color: #013328;
    margin-top: 50px;
    padding: 5%;
}

/*CONTACT US*/

#legend fieldset {
    font-size: xx-large;
    color: #013328;
    font-family: "Playfair Display", serif;
    border-color: #013328;
}

fieldset {
    display: inline-block;
    margin-left: 50%;
    margin-right: 50%;
    width: 50%;
    margin: 0, auto;
    padding: 1em;
}

#backgroundform {
    background-image: url("../images/reception1.jpeg");
    height: 900px;
    width: 100%;
    margin: auto;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.first-name,
.surname,
.email,
.mobile-number {
    width: 50%;
    height: 25px;
    margin: 20px;
    color: #013328;
    background: transparent;
    border: 2px solid #013328;
}

.natureofenquiry,
.yourenquiry {
    width: 90%;
    height: 25px;
    margin: 20px;
    color: #013328;
    position: center;
    background: transparent;
    border: 2px solid #013328;
    font-family: "EB Garamond", serif;
}

input::placeholder {
    color: #013328;
    background: transparent;
    font-family: "EB Garamond", serif;
}

textarea::placeholder {
    color: #013328;
    font-family: "EB Garamond", serif;
}

#left-contain {
    float: left;
}

#right-contain {
    float: right;
}

#button1 {
    border: 2px solid #013328;
    background-color: #013328;
    color: #eed9c4;
    margin: 20px;
    font-family: "EB Garamond", serif;
}

.button1:hover {
    background-color: #eed9c4;
    color: #013328;
}

#contactdetails {
    text-align: left;
    background-color: rgba(254, 255, 255, 0.6);
}

/*SERVICES PAGE*/

#design-1 {
    float: right;
    position: relative;
    height: 600px;
    width: 100%;
    background-position: center;
    display: flex;
    justify-content: flex-end;
}

/* DESKTOP VIEW - from 1200px and below*/

@media screen and (max-width: 1200px) {
    #menu #logo .social-networks {
        font-size: 30px;
    }
}

/* LAPTOP VIEW - from 1030px and below*/

/* TABLET VIEW - from 760px and below*/

/* TABLET VIEW - from 480px and below*/